
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MemeCo.Areas.Identity.Data.MemeCoUser

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - @Model.UserName</title>
    <meta name="description" content="Profile page for @Model.UserName">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jasen Lassig u0671257">
    <meta name="keywords" content="HTML, CSS, Meme.co, memes">
    <script src="https://kit.fontawesome.com/50d38ee57a.js"></script>
</head>

<body>
    <div>
        <header>
            @{
                var profileSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ProfilePicture));
                var postCount = Model.Posts.Count();
                int followerCount = Model.Followers.Count();
                int followingCount = Model.Following.Count();
            }
            <div class="post mx-auto">
                <div class="card mx-auto" style="width: 50rem;">
                    <div class="card-title post-header row">
                        <span id="profilePic" style="width: 165px; height: 165px;" tabindex="0">
                            <img class="profile-pic rounded-circle align-self-center" src="@profileSrc" width="150" height="150">
                        </span>
                        <div class="justify-content-center">
                            <h1>@Model.UserName</h1>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">
                                    @postCount Posts
                                </li>
                                <li class="list-group-item">
                                    @followerCount Followers
                                </li>
                                <li class="list-group-item">
                                    @followingCount Following
                                </li>
                            </ul>
                        </div>
                    </div>
                    <article>
                        <div class="container">
                            <table>
                                @{
                                    // borrowed from MortenRøgenes on StackOverflow
                                    // https://stackoverflow.com/questions/11625938/how-to-loop-over-generic-listt-and-group-per-3-items
                                    for (var i = 0; i < postCount; i += 3)
                                    {
                                        <tr class="profile-row">
                                            @foreach (Post post in Model.Posts.Skip(i).Take(3))
                                            {
                                                var imgSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(post.Meme));
                                                <td>
                                                    <a href="/Post/@post.ID" class="img-fluid">
                                                        <img class="profile-meme" src="@imgSrc" alt="Meme">
                                                    </a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </article>
                </div>
            </div>
        </header>
    </div>
</body>

</html>
